.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-gap: 48px 40px;
    justify-items: center;
    align-items: center;
    margin-top: 80px;
}

.place:first-child {
    margin-top: 0px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-gap: 48px 28px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        grid-gap: 32px;
        justify-items: center;
        align-items: center;
        margin-top: 50px;
    }
}